.adduserContainer{
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:white;
    
}

.container{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 1rem;
padding: 1rem 4rem;
    flex-direction: column;
}
.iconWrapper{
height: 100%;
width: 40px;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
    background-color: aliceblue;
}

.icons{
    height: 20px;
    width: 23px;
}

.inputWrapper{
display: flex;
width: 100%;
height: 40px;
align-items: center;
border:0.5px solid grey;
border-radius: 7px;
}

.inputBox{
    width: 80%;
    height: 100%;
    border: none;

    outline: none;
    padding-left: 12px;

}

.buttonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.AddBtn{
    width: 120px;
    height: 36px;
    border-radius: 8px;
    color: white;
    background-color: rgba(0, 34, 255, 0.646);
    outline: none;
    cursor: pointer;
    border: none;
}